@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@-webkit-keyframes like-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes like-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

/* Polices:
Logo et titres: Shrikhand
Texte: Roboto */
.welcome_page, .welcome_page-title, footer, main {
  font-family: "Roboto", sans-serif;
}

.footer-title, h1 {
  font-family: "Shrikhand";
}

.rest-title__name {
  font-size: 1.75rem;
}

.menu_sec-name {
  font-weight: 400;
  font-size: 1.05rem;
  margin-bottom: 0;
}

.underline {
  border-top: solid #99E2D0;
  width: 40px;
  margin: 0.5em 0 1em 0;
}

.container-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4em;
}

.container-menu__btn .menu__btn--gradient {
  -webkit-box-shadow: 1px 6px 16px -5px #aaaaaa;
          box-shadow: 1px 6px 16px -5px #aaaaaa;
  padding: 1rem 3.5rem;
  font-family: "Roboto", sans-serif;
  border-radius: 2rem;
  border: none;
  font-size: 1em;
  color: #fff;
  background: linear-gradient(176deg, #FF79DA, #9356DC);
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.container-menu__btn .menu__btn--gradient:active {
  background: linear-gradient(176deg, #ff8de0, #9e67e0);
  -webkit-box-shadow: 1px 6px 16px -5px #444444;
          box-shadow: 1px 6px 16px -5px #444444;
}

@media (min-width: 769px) {
  .container-menu__btn .menu__btn--gradient:hover {
    background: linear-gradient(176deg, #ff8de0, #9e67e0);
    -webkit-box-shadow: 1px 6px 16px -5px #444444;
            box-shadow: 1px 6px 16px -5px #444444;
  }
}

footer {
  background-color: #353535;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  footer {
    padding-bottom: 20px;
  }
}

footer .footer-title {
  margin: 0;
  padding: 1.25rem;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  footer .footer-title {
    text-align: center;
  }
}

footer .nav {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 32px;
  padding-left: 22px;
}

@media (min-width: 768px) {
  footer .nav {
    display: table;
    margin: auto;
  }
}

footer .nav__link {
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  footer .nav__link {
    float: left;
    padding: 5px 10px;
  }
}

footer .nav__link--style {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

footer .nav__link--style .nav-fas {
  font-size: 0.8rem;
  width: 1.1rem;
}

.header-menu {
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__goback-arrow {
  display: block;
  height: auto;
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.5rem;
}

.header-menu__goback-arrow .fa-arrow-left {
  font-size: 1.3rem;
}

.header-menu .header-logo {
  height: 2rem;
  width: 11rem;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-menu .header-logo__img {
  margin-left: 0;
  margin-right: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 2rem;
  width: 11rem;
}

.page-menu {
  margin: 0;
}

.background-img {
  height: 215px;
  width: auto;
  position: relative;
  z-index: 1;
  margin: 0;
}

.background-img .menu-img {
  width: 100%;
  height: 262px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container-menu {
  margin: 0;
  padding: 1em;
  border-radius: 2.2em 2.2em 0 0;
  background-color: #f6f6f6;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .container-menu {
    padding: 3em;
  }
}

.rest-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rest-title__heart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6rem;
  cursor: pointer;
  width: 25px;
  height: 26px;
  padding-right: 1rem;
}

.rest-title__heart .heart-anim {
  height: 25px;
  width: 26px;
}

.rest-title__heart .heart-anim2 {
  position: relative;
  top: -30px;
  color: transparent;
  height: 25px;
  width: 26px;
}

@media (min-width: 768px) {
  .rest-title__heart .heart-anim2:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-animation: like-animation 350ms linear;
            animation: like-animation 350ms linear;
  }
}

.rest-title__heart .heart-anim2:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-animation: like-animation 350ms linear;
          animation: like-animation 350ms linear;
}

@media (min-width: 768px) {
  .menu-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section.entrees {
  -webkit-animation: section-loading 1s ease-out both;
          animation: section-loading 1s ease-out both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@media (min-width: 768px) {
  section.entrees {
    -webkit-box-flex: 1;
        -ms-flex: 1 32%;
            flex: 1 32%;
    margin-right: 1%;
  }
}

.block-entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 2em;
}

.menu-carte {
  background-color: #fff;
  margin-bottom: 1em;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 6px 16px -5px #cfcfcf;
          box-shadow: 1px 6px 16px -5px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

@media (min-width: 768px) {
  .menu-carte:hover > .check-box {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.menu-carte:active > .check-box {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media (min-width: 768px) {
  .menu-carte:hover .menu-carte__price {
    -webkit-transform: translateX(-57px);
            transform: translateX(-57px);
  }
}

.menu-carte:active .menu-carte__price {
  -webkit-transform: translateX(-57px);
          transform: translateX(-57px);
}

.menu-carte__text {
  padding: 1em 0 1em 1em;
  width: 100%;
}

@media (max-width: 320px) {
  .menu-carte__text {
    max-width: 195px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .menu-carte__text {
    max-width: 253px;
    min-width: 195px;
  }
}

.menu-carte__title {
  font-size: 1.1rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-carte__decript-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-carte__description {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
  padding-top: 0.4em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-carte__price {
  font-size: 0.95em;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0 1em 0 1em;
  position: relative;
  left: 57px;
  -webkit-transition: -webkit-transform 600ms ease-in-out 5ms;
  transition: -webkit-transform 600ms ease-in-out 5ms;
  transition: transform 600ms ease-in-out 5ms;
  transition: transform 600ms ease-in-out 5ms, -webkit-transform 600ms ease-in-out 5ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media (min-width: 768px) {
  .menu-carte {
    min-width: 295px;
  }
}

.menu-carte .check-box {
  width: 74px;
  height: 75px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  -webkit-transition: -webkit-transform 600ms ease-in-out 5ms;
  transition: -webkit-transform 600ms ease-in-out 5ms;
  transition: transform 600ms ease-in-out 5ms;
  transition: transform 600ms ease-in-out 5ms, -webkit-transform 600ms ease-in-out 5ms;
  -webkit-transform: translateX(74px);
          transform: translateX(74px);
}

.menu-carte .check-box .fa-check-anim {
  font-size: 1rem;
  color: #99e2d0;
  background-color: white;
  border: 1px;
  border-radius: 50%;
  padding: 0.35rem;
  position: relative;
  -webkit-transition: -webkit-transform 650ms linear 20ms;
  transition: -webkit-transform 650ms linear 20ms;
  transition: transform 650ms linear 20ms;
  transition: transform 650ms linear 20ms, -webkit-transform 650ms linear 20ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (min-width: 768px) {
  .menu-carte:hover .fa-check-anim {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menu-carte:active .fa-check-anim {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section.plats {
  -webkit-animation: section-loading 1s ease-out both;
          animation: section-loading 1s ease-out both;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@media (min-width: 768px) {
  section.plats {
    -webkit-box-flex: 1;
        -ms-flex: 1 32%;
            flex: 1 32%;
    margin-right: 1%;
  }
}

.block-plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 2em;
}

section.desserts {
  -webkit-animation: section-loading 1s ease-out both;
          animation: section-loading 1s ease-out both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (min-width: 768px) {
  section.desserts {
    -webkit-box-flex: 1;
        -ms-flex: 1 32%;
            flex: 1 32%;
  }
}

.block-desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 2em;
}

@-webkit-keyframes section-loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes section-loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes like-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

body {
  margin: 0;
}

.page-wrap {
  position: relative;
  z-index: 2;
}

.loading-spinner {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  background: none;
  margin: -76px 0 0 -76px;
  border: 16px solid #9356DC;
  /* $colour-primaire*/
  border-top: 16px solid #FF79DA;
  /* $colour-secondaire */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: spinning 2s linear infinite;
          animation: spinning 2s linear infinite;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 28, 28, 0.9);
  opacity: 1;
  -webkit-animation: pageloading 0.1s forwards linear 1s;
          animation: pageloading 0.1s forwards linear 1s;
}

@-webkit-keyframes pageloading {
  0% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 0.75;
    z-index: 1;
  }
  50% {
    opacity: 0.5;
    z-index: 1;
  }
  75% {
    opacity: 0.25;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes pageloading {
  0% {
    opacity: 1;
    z-index: 1;
  }
  25% {
    opacity: 0.75;
    z-index: 1;
  }
  50% {
    opacity: 0.5;
    z-index: 1;
  }
  75% {
    opacity: 0.25;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.header-welcome {
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-welcome__logo {
  display: block;
  height: 2rem;
  width: 11rem;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-welcome__logo .logo__img {
  margin-left: 0;
  margin-right: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 2rem;
  width: 11rem;
}

.location {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 1px 2px 4px 1px #cfcfcf;
          box-shadow: inset 1px 2px 4px 1px #cfcfcf;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location .marker-icon {
  margin-right: 1em;
}

.presentation {
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation .welcome_page-title {
  padding: 0 1rem;
  text-align: center;
  margin: 0;
}

.presentation__desc {
  font-weight: 300;
  font-size: 1.1em;
  color: #353535;
  text-align: center;
}

.presentation__btn {
  margin: 1em 0;
  -webkit-box-shadow: 1px 6px 16px -5px #aaaaaa;
          box-shadow: 1px 6px 16px -5px #aaaaaa;
  padding: 1rem 1.5rem;
  font-family: "Roboto", sans-serif;
  border-radius: 2rem;
  border: none;
  font-size: 1em;
  color: #fff;
  background: linear-gradient(176deg, #FF79DA, #9356DC);
  cursor: pointer;
}

.presentation__btn:active {
  background: linear-gradient(176deg, #ff8de0, #9e67e0);
  -webkit-box-shadow: 1px 6px 16px -5px #444444;
          box-shadow: 1px 6px 16px -5px #444444;
}

@media (min-width: 768px) {
  .presentation__btn:hover {
    background: linear-gradient(176deg, #ff8de0, #9e67e0);
    -webkit-box-shadow: 1px 6px 16px -5px #444444;
            box-shadow: 1px 6px 16px -5px #444444;
  }
}

.function {
  padding: 2em 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1358px) {
  .function {
    padding: 2em 11em;
  }
}

.function .container-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

@media (min-width: 768px) {
  .function .container-function {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.function .container-function__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  margin-bottom: 1.5em;
  background-color: #f6f6f6;
  min-width: 272px;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 1.8rem 0;
  -webkit-box-shadow: 1px 6px 16px -5px #cfcfcf;
          box-shadow: 1px 6px 16px -5px #cfcfcf;
}

.function .container-function__btn:active {
  background-color: #f2eafb;
}

.function .container-function__btn:active .btn__fas {
  color: #9356DC;
}

@media (min-width: 768px) {
  .function .container-function__btn {
    min-width: 300px;
    max-width: 30%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .function .container-function__btn:hover {
    background-color: #f2eafb;
  }
  .function .container-function__btn:hover .btn__fas {
    color: #9356DC;
  }
}

.function .container-function__btn .nr {
  border: 1px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 3px 8px;
  color: #fff;
  font-size: 0.9rem;
  margin: 0;
  margin-left: -12px;
}

@media (min-width: 768px) {
  .function .container-function__btn .nr {
    position: unset;
    left: 0;
    margin-left: -10px;
  }
}

.function .container-function__btn .btn__fas {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #7e7e7e;
  margin-left: 1.2em;
  margin-right: 1.2em;
  font-size: 1.2em;
}

.function .container-function__btn .btn-dscr {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2em 1.25em 3.75rem 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 1358px) {
  .restaurants {
    padding: 2em 11em 3.75rem 11em;
  }
}

.restaurants .container-rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .restaurants .container-rest {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants .container-rest .rest-card {
  display: block;
  width: 100%;
  max-width: 385px;
  height: 253px;
  margin-bottom: 1.15rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 6px 16px -5px #cfcfcf;
          box-shadow: 1px 6px 16px -5px #cfcfcf;
  text-decoration: none;
  color: black;
  /* 
                        @keyframes like-animation {
                            0% {
                                transform: scaleY(0);
                                opacity: 0.1;
                            }
                            50% {
                                transform: scaleY(0.5);
                                opacity: 0.5;
                            }
                            100% {
                                transform: scaleY(1);
                                opacity: 1;
                            }
                        }
                        */
}

@media (min-width: 768px) {
  .restaurants .container-rest .rest-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 47%;
            flex: 0 47%;
    margin-bottom: 3em;
    max-width: 374px;
    min-width: 45%;
    height: 314px;
  }
}

.restaurants .container-rest .rest-card__imgbox {
  height: 68%;
  width: 100%;
  overflow: hidden;
}

.restaurants .container-rest .rest-card__img {
  height: 68%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 74%;
     object-position: 50% 74%;
  border-radius: 1rem 1rem 0 0;
}

.restaurants .container-rest .rest-card__img--new {
  height: 100%;
}

.restaurants .container-rest .rest-card__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.2em;
  padding: 0;
}

.restaurants .container-rest .rest-card__decr {
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .container-rest .rest-card__decr .rest-name {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding-left: 1em;
}

.restaurants .container-rest .rest-card .btn-like {
  font-size: 1.6rem;
  justify-self: center;
  padding: 0.2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
}

.restaurants .container-rest .rest-card .fa-like {
  position: absolute;
  top: -9px;
  right: 30px;
  width: 26px;
  height: 25px;
}

.restaurants .container-rest .rest-card .fa-like-2 {
  position: absolute;
  top: -9px;
  right: 30px;
  width: 26px;
  height: 25px;
}

.restaurants .container-rest .rest-card .fa-like-anim {
  color: transparent;
}

@media (min-width: 768px) {
  .restaurants .container-rest .rest-card .fa-like-anim:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-animation: like-animation 350ms linear;
            animation: like-animation 350ms linear;
  }
}

.restaurants .container-rest .rest-card .fa-like-anim:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-animation: like-animation 350ms linear;
          animation: like-animation 350ms linear;
}

.restaurants .container-rest .rest-card .decr-loc {
  margin: 0;
  font-size: 1.05rem;
}

.restaurants .container-rest .rest-card__new {
  width: 80px;
  font-weight: bolder;
  font-size: 0.9rem;
  position: -webkit-sticky;
  position: sticky;
  padding: 0.3rem;
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  bottom: 151px;
  float: right;
  right: 21px;
  margin-top: 14px;
  z-index: 0;
}
/*# sourceMappingURL=main.css.map */