/* Couleurs:
$colour-primaire: #9356DC; 
$colour-secondaire: #FF79DA;
$colour-tertiaire: #99E2D0;

$colour-tertiaire-darker: #008766;
$colour-white: #fff;
$colour-light-grey: #f6f6f6;
$colour-darker-grey: #eaeaea;
$colour-footer: #353535;

*/

/* Polices:
Logo et titres: Shrikhand
Texte: Roboto */