<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/dd84544794.js" crossorigin="anonymous"></script>
        <title>menu_la-palette-du-gout</title>
    </head>
    <body class="page-menu">
        <header class="header-menu">
            <a href="../index.html" class="header-menu__goback-arrow">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="header-logo">
                <img src="../logo/ohmyfood@2x.svg" alt="logo_oh_my_food" class="header-logo__img">
            </div>
        </header>

        <div class="background-img">
            <img class="menu-img" src="../images/resized/1jay-wennington.jpg" alt="image pour menu la-palette-du-gout"/>
        </div>

        <main>
            <div class="container-menu"> <!-- flex -->
                <div class="rest-title">
                    <h1 class="rest-title__name">La palette du goût</h1>
                    <div class="rest-title__heart">
                        <i class="far fa-heart"></i>
                    </div>
                </div>

                <section class="entrees"> <!-- flex -->
                    <h2 class="menu_sec-name">ENTRÈES</h2>
                    <p class="underline"></p>
                    <div class="block-entrees"> 
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Fricassée d'escargot</h3>
                                <p class="menu-carte__description">Au piment d'Espelette</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    25€
                                </div>
                            </div>
                        </div>                      
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Foie gras de canard mi-cuit</h3>
                                <p class="menu-carte__description">Et ses copeaux de truffe noire</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    35€
                                </div>
                            </div>
                        </div>
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Oeuf au plat</h3>
                                <p class="menu-carte__description">Assaisonné à la truffe sur lit de caviar</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    20€
                                </div>
                            </div>
                        </div>
                    </div> 
                </section>

                <section class="plats">
                    <h2 class="menu_sec-name">PLATS</h2>
                    <p class="underline"></p>
                    <div class="block-plats"> <!-- flex -->
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Filet de boeuf aux herbes</h3>
                                <p class="menu-carte__description">Accompagné de sa ribambelle de légumes</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    40€
                                </div>
                            </div>
                        </div>                      
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Parmentier de queue de boeuf</h3>
                                <p class="menu-carte__description">À la truffe noire sur sa purée de panais</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    35€
                                </div>
                            </div>
                        </div>
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Filet de turbot</h3>
                                <p class="menu-carte__description">Aux agrumes</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    44€
                                </div>
                            </div>
                        </div>
                    </div> 
                </section> 

                <section class="desserts">
                    <h2 class="menu_sec-name">DESSERTS</h2>
                    <p class="underline"></p>
                    <div class="block-desserts"> <!-- flex -->
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Paris-Brest</h3>
                                <p class="menu-carte__description">Revisité</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    18€
                                </div>
                            </div>
                        </div>                      
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Macaron au chocolat d'exception</h3>
                                <p class="menu-carte__description">Et glace à la vanille de Madagascar</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    22€
                                </div>
                            </div>
                        </div>
                        <div class="menu-carte"> <!-- flex -->
                            <div class="menu-carte__text">
                                <h3 class="menu-carte__title">Mousse au chocolat</h3>
                                <p class="menu-carte__description">Au piment d'Espelette et à la truffe noire</p>
                            </div>
                            <div class="menu-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    23€
                                </div>
                            </div>
                        </div>
                    </div> 
                </section> 

                <div class="container-menu__btn">
                    <a href="#"><button class="menu__btn--gradient">Commander</button></a>
                </div>                   
            </div>
        </main>

        <footer>
            <p class="footer-title">ohmyfood</p>
            <ul class="nav">
                <li class="nav__link">
                    <a href="#" class="nav__link--style">
                        <span><i class="fas nav-fas fa-utensils"></i></span>
                        <strong>Proposer un restaurant</strong>
                    </a>
                </li>
                <li class="nav__link">
                    <a href="#" class="nav__link--style">
                        <span><i class="fas nav-fas fa-hands-helping"></i></span>
                        <strong>Devenir partenaire</strong>
                    </a>
                </li>
                <li class="nav__link">
                    <a href="#" class="nav__link--style">Mentions légales</a>
                </li>
                <li class="nav__link">
                    <a href="mailto:ohmyfood@example.com" class="nav__link--style">Contact</a>
                </li>
            </ul>
        </footer>
       
    </body>
</html>