<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/dd84544794.js" crossorigin="anonymous"></script>
        <title>menu_le-delice-des-sens</title>
    </head>
    <body class="page-menu">
        <header class="header-menu">
            <a href="../index.html" class="header-menu__goback-arrow">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="header-logo">
                <img src="../logo/ohmyfood@2x.svg" alt="logo_oh_my_food" class="header-logo__img">
            </div>
        </header>

        <div class="page-menu__background-img">
            <img src="../images/resized/4louis-hansel.jpg" alt="image pour menu le-delice-des-sens"/>
        </div>

        <main>
            <div class="container-menu"> <!-- flex -->
                <div class="container-menu__rest-title">
                    <h1>Le délice des sens</h1>
                    <div class="container-menu__heart">
                        <i class="far fa-heart"></i>
                    </div>
                </div>

                <section class="entrees"> <!-- flex -->
                    <h2>Entrées</h2>
                    <div class="block-entrees"> 
                        <div class="entrees-carte"> <!-- flex -->
                            <h3 class="entrees-carte__title">Tartare de thon</h3>
                            <p class="entrees-carte__description">Assaisonné au yuzu</p>
                            <div class="entrees-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    25€
                                </div>
                            </div>
                        </div>                      
                        <div class="entrees-carte"> <!-- flex -->
                            <h3 class="entrees-carte__title">Bouchée de homard croustillant</h3>
                            <p class="entrees-carte__description">Et sa farandole de petits légumes</p>
                            <div class="entrees-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    35€
                                </div>
                            </div>
                        </div>
                        <div class="entrees-carte"> <!-- flex -->
                            <h3 class="entrees-carte__title">Velouté de cèpes</h3>
                            <p class="entrees-carte__description">Aux truffes</p>
                            <div class="entrees-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    20€
                                </div>
                            </div>
                        </div>
                    </div> 
                </section>

                <section class="plats">
                    <h2>Plats</h2>
                    <div class="block-plats"> <!-- flex -->
                        <div class="plats-carte"> <!-- flex -->
                            <h3 class="plats-carte__title">Poulet rôti aux herbes de Provence</h3>
                            <p class="plats-carte__description">Et sa crème de truffe</p>
                            <div class="plats-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    40€
                                </div>
                            </div>
                        </div>                      
                        <div class="plats-carte"> <!-- flex -->
                            <h3 class="plats-carte__title">Langouste rôtie</h3>
                            <p class="plats-carte__description">Et ses légumes de saison</p>
                            <div class="plats-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    35€
                                </div>
                            </div>
                        </div>
                        <div class="plats-carte"> <!-- flex -->
                            <h3 class="plats-carte__title">Côte de boeuf Angus</h3>
                            <p class="plats-carte__description">Et sa purée de panais</p>
                            <div class="plats-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    44€
                                </div>
                            </div>
                        </div>
                    </div> 
                </section> 

                <section class="desserts">
                    <h2>Desserts</h2>
                    <div class="block-desserts"> <!-- flex -->
                        <div class="desserts-carte"> <!-- flex -->
                            <h3 class="desserts-carte__title">Farandole de desserts</h3>
                            <p class="desserts-carte__description">Du chef</p>
                            <div class="desserts-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    18€
                                </div>
                            </div>
                        </div>                      
                        <div class="desserts-carte"> <!-- flex -->
                            <h3 class="desserts-carte__title">Crème brulée</h3>
                            <p class="desserts-carte__description">Revisitée</p>
                            <div class="desserts-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    22€
                                </div>
                            </div>
                        </div>
                        <div class="desserts-carte"> <!-- flex -->
                            <h3 class="desserts-carte__title">Tiramisu</h3>
                            <p class="desserts-carte__description">À la noisette</p>
                            <div class="desserts-carte__price">
                                <div class="price__animation"> <!-- ajouter code pour animations -->
                                    23€
                                </div>
                            </div>
                        </div>
                    </div> 
                </section> 

                <div class="btn container-menu__btn">
                    <a href="#"><button class="menu__btn--gradient">Commander</button></a>
                </div>                   
            </div>
        </main>

        <footer>
            <p class="footer-title">ohmyfood</p>
            <ul class="nav">
                <li class="nav__link">
                    <a href="#" class="nav__link--style">
                        <span><i class="fas nav-fas fa-utensils"></i></span>
                        <strong>Proposer un restaurant</strong>
                    </a>
                </li>
                <li class="nav__link">
                    <a href="#" class="nav__link--style">
                        <span><i class="fas nav-fas fa-hands-helping"></i></span>
                        <strong>Devenir partenaire</strong>
                    </a>
                </li>
                <li class="nav__link">
                    <a href="#" class="nav__link--style">Mentions légales</a>
                </li>
                <li class="nav__link">
                    <a href="mailto:ohmyfood@example.com" class="nav__link--style">Contact</a>
                </li>
            </ul>
        </footer>
    </body>
</html>