body{
    margin: 0;
}

// header
.header-welcome {
    height: 4rem;
    width: 100%;
    display: flex;
        &__logo {
            display: block;
            height: 2rem;
            width: 11rem;
            @include center;
                .logo__img {
                    margin-left: 0;
                    margin-right: 0;
                    object-fit: scale-down;
                    height: 2rem;
                    width: 11rem;
                }
        }
}
// location
.location{
    background-color: $darker-grey;
    box-shadow: inset 1px 2px 4px 1px $shadow-darker;
    padding: 1rem 0;
    @include flex-center;
        .marker-icon{
            margin-right: 1em;
        }
}
// section "presentation"
.presentation{
    background-color: $light-grey;
    flex-direction: column;
    padding: 2em;
    @include flex-center;
        .welcome_page-title{
            padding: 0 1rem;
            text-align: center;
            margin: 0;
        }
        &__desc {
            font-weight: 300;
            font-size: 1.1em;
            color: #353535;
            text-align: center;
        }
        &__btn{
            margin: 1em 0;
            box-shadow: 1px 6px 16px -5px #aaaaaa;
            padding: 1rem 1.5rem;
            @include grad-buttons;
            &:active {
                background: linear-gradient(176deg, lighten(#FF79DA, 4), lighten(#9356DC, 4));
                box-shadow: 1px 6px 16px -5px darken(#aaaaaa, 40);
            }
            @media (min-width: 769px) {
                &:hover {
                    background: linear-gradient(176deg, lighten(#FF79DA, 4), lighten(#9356DC, 4));
                    box-shadow: 1px 6px 16px -5px darken(#aaaaaa, 40);
                }
            }
        }
}
// Fonctionnement
.function{
    padding: 2em 1.25em;
    display: flex;
    flex-direction: column;
        .container-function {
            display: flex;
            flex-direction: column;
            margin: $space;
                &__btn{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: space-evenly;
                    margin-bottom: 1.5em;
                    background-color:$light-grey;
                    min-width: 272px;
                    border-radius: 1.5rem;
                    cursor: pointer;
                    padding: 1.8rem 0;
                    box-shadow: $shadow;
                    &:active {
                        background-color: $prim-lighten;
                    }
                    &:active .btn__fas{
                        color: $colour-primaire;
                    }
                    @media (min-width: 769px) {
                        &:hover {
                            background-color: $prim-lighten;
                        }
                        &:hover .btn__fas{
                            color: $colour-primaire;
                        }
                    }
                        .nr {
                            border: 1px;
                            border-radius: 50%;
                            background-color: $colour-primaire;
                            padding: 3px 8px;
                            color: $white;
                            font-size: 0.9rem;
                            position: absolute;
                            left: 22px;
                            margin: 0;                          
                        }
                        .btn__fas{
                            align-self: center;
                            color: $grey-elements;
                            margin-left: 2em;
                            margin-right: 1.5em;
                            font-size: 1.2em;
                        }                       
                        .btn-dscr{
                            align-self: center;
                        }
                }

        }
}
// Restaurants
.restaurants{
    background-color: $light-grey;
    padding: 2em 1.25em 3.75rem 1.25em;
    @include flex-column;
        .container-rest{
            @include flex-column;
                .rest-card{
                    display: block;
                    width: 100%;
                    height: 253px;
                    margin-bottom: 1.15rem;
                    background-color: white;
                    border-radius: 1rem;
                    box-shadow: $shadow;
                    @include links-removelines;
                    &__imgbox{
                        height: 68%;
                        width: 100%;
                    }
                    &__img{
                        height: 68%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center bottom;
                        border-radius: 1rem 1rem 0 0;
                        &--new{
                            height: 100%; 
                        }                                                   
                    }                                              
                    &__title{
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin-top: 0;
                        margin-bottom: 0.2em;
                        padding: 0;
                    }
                    &__decr{
                        height: 22%;
                        padding: $space;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                        .btn-like{
                            font-size: 1.4rem;
                            justify-self: center;
                            padding: 0.2em 1em;
                        }
                        .decr-loc{
                            margin: 0;
                            font-size: 1.05rem;
                        }
                }
                .rest-card__new{
                    width: 80px;
                    font-weight: bolder;
                    font-size: 0.9rem;
                    margin: 0;
                    padding: 0.3rem;
                    background-color: $colour-tertiaire;
                    color: $colour-tertiaire-darker;
                    text-align: center;
                    position: relative;
                    bottom: 152px;
                    left: 231px;
                }
        }
}
