@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
@mixin links-removelines {
    text-decoration: none;
    color: black;
    
}
@mixin btn {
    box-shadow: 1px 6px 16px -5px #aaaaaa;
    padding: 1rem 3.5rem;
    @include grad-buttons;
}
@mixin grad-buttons {
    font-family: $font-text;
    border-radius: 2rem;
    border: none;
    font-size: 1em;
    color: $white;
    background: $gradient;
    cursor: pointer;
}
@mixin pseudo-elements {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
//menu sections
@mixin menu_section-flex {
    flex: 1 32%;
}

//for components:
@mixin spacing-btn  {
    padding-right: 1rem;
}
