//Couleurs/ variables:
$colour-primaire: #9356DC; 
$colour-secondaire: #FF79DA;
$colour-tertiaire: #99E2D0;

$colour-tertiaire-darker: #008766;
$white: #fff;
$light-grey: #f6f6f6;
$darker-grey: #eaeaea;
$shadow-darker: #cfcfcf;
$grey-elements: #7e7e7e;
$grey-footer-bckgr: #353535;

//fonts variables:
$font-titles: 'Shrikhand';
$font-text: 'Roboto', sans-serif;

$space: 1em;
$shadow: 1px 6px 16px -5px $shadow-darker;
$gradient: linear-gradient(176deg, #FF79DA, #9356DC);
$prim-lighten: lighten($colour-primaire, 35)