footer{
    background-color: $grey-footer-bckgr;
    color: $white;
    display: flex;
    flex-direction: column;
        .footer-title{
            margin: 0;
            padding: 1.25rem;
            font-size: 1.2em;
        }
        .nav{
            margin-top: 0;
            list-style-type: none;
            margin-bottom: 32px;
            padding-left: 22px;
            @media (min-width: 769px){
                display: flex;
                flex-direction: row;
            }
                &__link{
                    margin-bottom: 0.5em;
                    @media (min-width: 769px){
                        flex: 1 24%;
                        margin-right: 2%;
                    }
                }    
                    &__link--style{
                        color: $white;
                        text-decoration: none;
                        font-weight: 400;
                        .nav-fas{
                            font-size: 0.8rem;
                            width: 1.1rem;
                        }
                    }
                
                
        }
            
        
}