//body
.page-menu{
    margin: 0;
    width: 375px;
}
//background image
.background-img{
    height: 215px;
    width: auto;
    position: relative;
    z-index: 1;
    margin: 0;
    .menu-img{
        width: 100%;
        object-fit: cover;
        object-position: center;  
    }
}